.courses_shadows{
    background: rgba(63, 81, 181, 0.9);
    height: 394px;
}
.banner_two h2{
    font-size: 43px;
    margin-top: 111px;
    color: white;
	font-family: 'Lato', sans-serif;
}
.banner_two p{
	color: white;
    font-size: 26px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px
	    
}

.course_list{
    background: rgba(175, 171, 171, 0.23);
    text-align: center;
    box-shadow: 1px 0px 6px rgba(128, 128, 128, 0.43);
    width: 299px;
    height: 199px;
    margin-top: 61px;
    margin-bottom: 59px;

}
.course_list:hover{ box-shadow: 1px 0px 8px rgba(128, 128, 128, 0.61);}
.img-shadow{
    width: 299px;
    height: 148px;
    background: rgb(0, 0, 0);
    position: absolute;
    opacity: 0.6;
}
.img-shadow:hover{opacity:0.0}
.course_list img{
	height: 150px;
    width: 300px;
}
.course_list p{
	text-align: center;
    margin-top: 17px;
    font-size: 18px;
    color: gray;
}
.why_you_learn{
    margin-top: 52px;
    margin-bottom: 80px;
}
.why_you_learn h2{
	font-size: 24px;
    margin-bottom: 22px;
	font-family: 'Lato', sans-serif;
	color: gray;
}
.why_you_learn p{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.87
	);	
	 text-align: justify;

}
.why_you_learn p:hover{color:gray}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}