.tutorials-shadows{
	background: rgba(212, 48, 145, 0.91);
    height: 330px;
    text-align: center;
}
.banner_two{}
.banner_two h2{
	font-size: 43px;
    margin-top: 144px;
    color: white;
	font-family: 'Lato', sans-serif;
}
.banner_two p{
	color: white;
    font-size: 26px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px
}
.web_design_info{
	text-align: center;
    margin-top: 62px;
    margin-bottom: 34px;
    font-size: 26px;
    color: gray;
}
.web_design_one{
    background: rgba(175, 171, 171, 0.23);
    text-align: center;
    box-shadow: 1px 0px 6px rgba(128, 128, 128, 0.43);
    margin-bottom: 61px;
    width: 100%;
    height: 195px;
}
.web_design_one:hover{box-shadow: 1px 0px 8px rgba(128, 128, 128, 0.61);}
.web_design_one img{
    width: 263px;
    height: 138px;
    margin-bottom: 19px;
}
.web_design_one a{
	font-family: 'Lato', sans-serif;
}
.web_design_one p{
	font-family: 'Lato', sans-serif;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}